<section
  class="hero is-fullheight"
  style="background-image: url({{imagePath}}); 
  background-size: 100%;
 background-repeat: no-repeat;"
>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            <div class="field">
              <label for="" class="label">E-posta</label>
              <div class="control has-icons-left">
                <input
                  type="email"
                  placeholder=" Örnek : 123@gmail.com"
                  class="input"
                  required
                />
                <span class="icon is-small is-left">
                  <ng-icon name="hero-mail"></ng-icon
                    >
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Parola</label>
              <div class="control has-icons-left">
                <input
                  type="password"
                  placeholder="*******"
                  class="input"
                  required
                />
                <span class="icon is-small is-left">
                  <ng-icon name="hero-lock-closed"></ng-icon>
                </span>
              </div>
            </div>
          
            <div class="field">
              <button class="button is-primary">Giriş Yap</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
